[Unit]
Description=Route53 DNS record updater
After=network.target

[Service]
Type=oneshot
Environment="AWS_ACCESS_KEY_ID=AKIATM5TRILULZDQCDP7"
Environment="AWS_SECRET_ACCESS_KEY=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"
WorkingDirectory=/opt/route53-dyndns
ExecStart=/bin/sh -c '.venv/bin/python route53-dyndns.py set ryan.govost.es -'
